#all
{
	margin-right: 200px;
	margin-left: 200px;
	text-align: justify;
}

.heading
{
	height: 0 px;
	text-align: justify;
	padding-bottom: 10px;
}

.heading h1
{
	height: 0 px;
	text-align: justify;
	color: blue;
	margin-bottom: 0px;
}

