*
{
	padding: 0;
	margin: 0;
}

#mynavbar
{
	position: sticky;
	top: 0;
	z-index: 10;
	font-weight: bolder;
	font-size: 16px;
}

.navbar-brand
{
	height: 40 px;
	padding-left: 30 px;
	font-display: ;
}

.navbar-nav li
{
	padding: 0 10 px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#mynavbar ul li a:hover
{
	color: blue;
}

.navbar
{
	background: #fff;
}

.navbar-toggler
{
	border: none!important;
}

.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px!important;
}


/*----------------- Slider ------------------*/
#slider
{
	width: 100%;
}

.carousel-caption
{
	top: 50%;
	transform: translateY(-20%);
	bottom: initial!important;
	background: rgba(0, 0, 0);
	color: green;
	font-size: 20px;
}

.carousel-inner
{
	bottom: initial!important;
}

.carousel-caption h5 p
{
	
	color: greenyellow;
	font-size: 0px;
}

/*#myslider
{
	background: rgba(0, 0, 0);
}*/

.carousel-indicators
{
	color: black;
	background: gray;
}

/*--------------- Contact ------------------*/

#contact
{
	background: #eeeeee;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #999999;
}

.container
{
	margin-top: 60px;
}